<div class="card shadow {{ mods }}">
  {% if data.image %}
  <img class="card-image img-fluid" src="{{ data.image }}" />
  {% endif %}
  <div class="card-body d-flex flex-column align-items-start rhythm-mb-2">
    {% if data.title %}
      <h3 class="card-title item-title">
        {{ data.title }}
      </h3>
    {% endif %}
    
    {% if data.text %}
      <div class="card-text">
        <div class="bodytext">
          {{ data.text|raw }}  
        </div>
      </div>
    {% endif %}

    {% if data.button.url %}
      <a target="{{ data.button.target}}" class="btn btn-primary btn-sm mt-auto" href="{{ data.button.url }}">
        {{ data.button.title }}
      </a>
    {% endif %}
  </div>
</div>