<div class="feature rhythm-mb-2 {{ mods }}">
  {% if data.icon %}
  <img class="feature__icon" src="{{ data.icon }}" />
  {% endif %}
  
  {% if data.title %}
  <h2 class="feature__title item-title item-title--decorated">
    {{ data.title|default('Feature title') }}
  </h2>
  {% endif %}

  {% if data.text %}
  <div class="feature__text">
    <div class="bodytext">{{ data.text|default(lipsum(30)) }}</div>
  </div>
  {% endif %}

  {% if data.button %}
  <div class="feature__actions mt-auto">
    <a href="{{ data.button.link }}" 
      target="{{ data.button.target }}" 
      class="btn btn-sm btn-primary"
    >
      {{ data.button.title }}
    </a>
  </div>
  {% endif %}
</div>
