
{##
 # SVG SOCIAL-ICON
 # Outputs an icon of a social network. See social-icons.svg
 # for all available icons.
 #
 # Use:
 # macros.socialicon(_context, 'facebook')
 #}
{% macro fontawesome(ctx, name) %}
  {# <svg class="social-icon-{{ name }} svg-icon"><use xlink:href="{{ ctx.theme.link }}/assets/social-icons.svg#icon-{{ name }}"></use></svg> #}
  {% set name = (name == 'facebook') ? name~'-square' : name %}
  <i class="fa fa-{{name}}"></i>
{% endmacro %}

{# ########################################################################## #}

{##
 # SOCIAL LINKS
 # Outputs the icons for all social links defined in the CMS configuration.
 #
 # Use:
 # macros.socials(_context)
#}
{% macro socials(ctx) %}
  {% import _self as this %}
  <div class="site-socials">
    {% for type in ['facebook','twitter','linkedin','instagram','youtube','vimeo'] %}
      {% if ctx.options[type] %}
        <a class="site-socials__item" href="{{ ctx.options[type] }}" target="_blank">
          {{ this.fontawesome(ctx, type) }}
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{# ########################################################################## #}

{##
 # SHARE BUTTON
 # Outputs a button to share the current page on the selected social network.
 #
 # Use:
 # macros.share_button(_context, 'facebook', 'http://google.be')
#}
{% macro share_button(ctx, name, url, small) %}
  {% import _self as this %}
  <a href="{{ url|share(name) }}" target="_blank" class="btn btn-default btn-share clr-{{ name }} {{ small ? 'btn-share--small' }}">
    <span class="btn-share__icon">{{ _self.fontawesome(ctx, name) }}</span>
    <span class="btn-share__label">Share</span>
  </a>
{% endmacro %}

{# ########################################################################## #}
