{% import '/templates/_macros.twig' as macros %}

<!DOCTYPE html>
<html lang="{{ lang }}" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_desc }}">
    <link rel="shortcut icon" href="{{ theme.link }}/assets/favicon.ico">

    {# iOS #}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    {# OpenGraph #}
    <meta property="og:title"         content="{{ meta_title|default(site.name) }}">
    <meta property="og:site_name"     content="{{ site.name }}">
    <meta property="og:url"           content="{{ site.page_url }}">
    <meta property="og:image"         content="{{ site.url ~ meta_image }}">
    <meta property="og:description"   content="{{ meta_desc }}">
    <meta property="og:type"          content="website">

    {# Twitter #}
    <meta name="twitter:card"     content="summary_large_image">
    <meta name="twitter:site"     content="{# @handle #}">

    <link rel="stylesheet" href="{{ asset('dist/app.css') }}">
    {# Implement in template file to add stylesheets. #}
    {% block styles %}{% endblock %}

    {# Json encoded data to be injected in the Vuex store. #}
    <script type="application/json" id="appdata">
      {{ appdata|json_encode|raw }}
    </script>

    {{ wp_head }}
  </head>

  <body class="{% block body_class %}{{ body_classes|join(' ') }}{% endblock %}">

    <div class="site-wrap d-flex flex-column">
      
      <nav class="site-header navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container">
          <a class="navbar-brand" href="#">
            {{ site.name }}
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              {% for item in menus().header.items %}
                <li class="nav-item"><a href="{{ item.link }}" class="nav-link {{ item.class }}">{{ item.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>

      <div class="site-content" id="app">

        {% block content %}{% endblock %}

        <v-dialog></v-dialog>

      </div>

      <footer class="site-footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
                {{ macros.socials(_context) }}
            </div>
          </div>
        </div>
        <div class="mnvr-badge mnvr-badge--light">
          <a class="mnvr-badge__inner" href="http://www.maneuver.be" target="_blank" title="site by maneuver"></a>
        </div>
      </footer>
    </div>

    {# Implement in template file to add scripts. #}
    {% block scripts %}{% endblock %}

    <script src="{{ asset('dist/manifest.js') }}"></script>
    <script src="{{ asset('dist/vendor.js') }}"></script>
    <script src="{{ asset('dist/app.js') }}"></script>
    <script src="{{ asset('dist/hot-css.js') }}"></script>

    <!--[if lt IE 9]>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
    <![endif]-->

    {{ wp_footer }}

    <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "Organization",
      "name" : "{{ site.name }}",
      "url" : "{{ site.url }}",
      "sameAs" : [
        {% for item in ['facebook', 'twitter', 'linkedin', 'instagram', 'vimeo', 'youtube'] %}
          {% if options[item] %}
            "{{ options[item] }}"{{ not loop.last ? ',' }}
          {% endif %}
        {% endfor %}
       ],
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "{{ options.address }}",
        "addressRegion": "{{ options.city }}",
        "postalCode": "{{ options.zip }}",
        "addressCountry": "BE"
      }
    }
    </script>
  </body>
</html>
